.weather-widgets {
  display:flex;
  padding:1em 1em;
  margin:0 auto;
  width:75%
  /* margin-right:1em; */
}
#forecast_embed {
  margin:1em 1em 1em 2em;
  width:50%;
  border:1px solid goldenrod;
  border-radius: 10px;
  box-shadow: 1px 1px 1px;
}
.fe_container {
  margin-left:3em;
}
.weather-section {
  position:relative;
  display:flex;
  flex-direction: column;
  width:50%;
  margin-bottom:2em;
}
.link {
  height:245px;
  width: 50%;
  position: absolute;
  top:0;
  left:0;
  margin-left:1.5em;
  
}