/* Colors used */
/* Jersey Colors */
$jerseyRed:#E53B1A;
$jerseyBlue:#86c6db;
$jerseyGreen:#226a2a;
$jerseyYellow:#f7f540;

$mainColor: #cec591;
$navYellow:#dac865;
/* Fonts */
$textFont:'Railway', sans-serif; 
$headingfont:  Dancing Script, cursive;
/* font-family: 'Josefin Sans', Helvetica, Arial, sans-serif; */